:root {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}




/* Basic styling for the album container */
.music-container {
  display: grid;
  gap: 20px; /* Space between the grid items */
  padding: 20px;
}

/* Styling for the individual albums */
.music-box {
  background-color: #4CAF50;
  color: white;
  text-align: center;
  padding: 40px 0;
  font-size: 20px;
  border-radius: 8px;
}

/* Desktop layout: 4 boxes per row */
@media (min-width: 892px) {
  .music-container {
      grid-template-columns: repeat(4, 1fr);
  }
}

/* Tablet layout: 2 boxes per row */
@media (min-width: 500px) and (max-width: 891px) {
  .music-container {
      grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile layout: 1 box per row */
@media (max-width: 499px) {
  .music-container {
      grid-template-columns: 1fr;
  }
}
